.site-hero-header__wrapper{
    background-color: #F2CEDA;
    width: 100%;
}
.site-header{
    padding-top: 10px;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-navbar__list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-navbar__item {
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
     color: #150101;
    opacity: 0.6;
    
}

.header-navbar__item:hover{
    color: #D23166;
}
.header-navbar__item:active{
    color: #2ecd06;
}

.header-navbar__link{
    text-decoration: none;
    color: none;
}

@media only screen and (max-width: 600px) {
    
  }